@import 'tailwindcss';

* {
  background-color: black;
}

.q1 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
}
.q2 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}
.p1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
